# PostgreSQL
POSTGRES_DB=cinema_db
POSTGRES_PORT=5432
POSTGRES_USER=admin
POSTGRES_PASSWORD=some_password
POSTGRES_HOST=localhost

#SMTP
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_USER=admin
SMTP_PASSWORD=some_password
SMTP_USE_TLS=False
EMAIL_SENDER_ADDRESS=noreply@example.com

BASE_URL=http://127.0.0.1:8000
API_VERSION_PREFIX=/api/v1
